<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- Inicio -->
    </ion-tab-button>
    <ion-tab-button tab="ranking">
      <ion-icon name="stats-chart"></ion-icon>
      <!-- Ranking -->
    </ion-tab-button>
    <ion-tab-button tab="historial">
      <ion-icon name="book"></ion-icon>
      <!-- Historial -->
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <!-- Perfil -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>