<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border" style="padding-top: 16px;">
    <h1 style="text-align: center; color: white;">
      RANKING
    </h1>
  </ion-header>

  <ion-segment mode="md" value="semanal" (ionChange)="CambioTipoRanking( $event )">
    <ion-segment-button value="semanal">
      Semanal
    </ion-segment-button>

    <ion-segment-button value="mensual">
      Mensual
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="bCargando" style="text-align: center;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!bCargando" style="padding: 0;">

    <ion-item style="--background: #1e1e2f; color: white;">
      <ion-label>
        #
      </ion-label>
      <ion-label>
        Nombre
      </ion-label>
      <ion-label>
        Puntos
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let rank of Ranking" style="--background: #27273f; color: white;">
      <ion-label>
      {{ rank.puesto }}
      </ion-label>
      <ion-label>
      {{ rank.nombredeusuario}}
      </ion-label>
      <ion-label>
      {{ rank.puntos }}
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>
