ion-content {
  --background: #1e1e2f;
  color: #f1f1f1;
  --color: #f1f1f1;
}

ion-card {
  background: #2e2e3f;
  color: #fff;
  --color: #fff;
  border-radius: 12px;
}

ion-item {
  --background: #2e2e3f;
  color: #fff;
}

ion-button {
  margin-top: 8px;
  font-weight: bold;
}
