<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Cerrar();">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Términos de Servicio
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-note>
    Última actualización: 14 de agosto de 2025
  </ion-note>
  
  <p>
    Bienvenido/a a Shadow (en adelante, “la Aplicación”, “nosotros” o “nuestro”).
  Al descargar, acceder o utilizar la Aplicación, aceptas cumplir estos Términos de Servicio y nuestra Política de Privacidad.
  Si no estás de acuerdo, no utilices la Aplicación.
  </p>

  <h1>
    1. Descripción del servicio
  </h1>

  <p>
    Shadow es un juego interactivo que presenta casos policiales diarios para que los usuarios los resuelvan, acumulando puntos y compitiendo en un ranking global.
    El servicio incluye:
  </p>

  <ul>
    <li>Acceso a un caso nuevo cada día.</li>
      <li>Sistema de pistas y resolución.</li>
      <li>Clasificación y logros.</li>
      <li>Perfil de usuario y estadísticas.</li>
  </ul>

  <h1>
    2. Requisitos de uso
  </h1>

  <p>
    Para utilizar la Aplicación debes:
  </p>
  <ul>
    <li>Tener al menos 14 años (o la edad mínima legal en tu país).</li>
    <li>Proporcionar información veraz y actualizada al registrarte.</li>
    <li>Mantener la confidencialidad de tus credenciales.</li>
    <li>Cumplir con todas las leyes y regulaciones aplicables.</li>
    <li>Si tienes menos de 14 años, solo podrás usar la aplicación con consentimiento de tus padres o tutores.</li>
  </ul>
  

  <h1>
    3. Cuenta de usuario
  </h1>

  <p>
    Eres responsable de todas las actividades que ocurran en tu cuenta.
    Debes notificarnos inmediatamente si detectas un uso no autorizado.
    Podemos suspender o eliminar tu cuenta si incumples estos Términos o realizas actividades fraudulentas.
  </p>

  <h1>
    4. Propiedad intelectual
  </h1>

  <p>
    Todo el contenido de la Aplicación (textos, casos, gráficos, diseños, logotipos, sonidos, código, etc.) es propiedad de MK13 o de sus licenciantes.
    No puedes copiar, distribuir, modificar, descompilar o usar el contenido con fines comerciales sin nuestro permiso por escrito.
  </p>

  <h1>
    5. Conducta del usuario
  </h1>

  <p>
    Al usar la Aplicación, te comprometes a no:
  </p>

  <ul>
    <li>Utilizarla con fines ilegales o no autorizados.</li>
    <li>Manipular o alterar el sistema de puntos, ranking o estadísticas.</li>
    <li>Introducir virus, malware o código malicioso.</li>
    <li>Acosar, amenazar o difamar a otros usuarios.</li>
  </ul>

  <h1>
    6. Publicidad y compras integradas
  </h1>

  <p>
    La aplicación puede mostrar anuncios, que pueden ser personalizados o no según tus ajustes de privacidad.
    En caso de ofrecer compras dentro de la aplicación (p. ej., pistas adicionales), el pago se procesará a través de Google Play o App Store y se aplicarán sus términos y políticas.
    Las compras no son transferibles y, salvo que la ley lo exija, no son reembolsables.
  </p>
  

  <h1>
    7. Limitación de responsabilidad
  </h1>

  <p>
    No garantizamos que la Aplicación esté libre de errores, interrupciones o fallos técnicos.
    No somos responsables de daños directos o indirectos derivados del uso o imposibilidad de uso de la Aplicación.
    El juego es solo con fines de entretenimiento y no representa investigaciones reales.
  </p>
  

  <h1>
    8. Suspensión o terminación
  </h1>

  <p>
    Podemos suspender o cancelar tu acceso a la Aplicación en cualquier momento, sin previo aviso, si incumples estos Términos o si consideramos que tu conducta es perjudicial para otros usuarios o para el servicio.
  </p>
  
  <h1>
    9. Modificaciones
  </h1>

  <p>
    Nos reservamos el derecho de modificar estos Términos en cualquier momento.
    Si realizamos cambios importantes, lo notificaremos dentro de la aplicación o por email antes de su entrada en vigor.
    El uso continuado de la Aplicación tras la publicación de cambios implica que aceptas las modificaciones.
  </p>

  <h1>
    10. Ley aplicable y jurisdicción
  </h1>

  <p>
    Estos Términos se rigen por la legislación española.
    En caso de conflicto, ambas partes se someten a los juzgados y tribunales de Yecla, salvo que la ley disponga lo contrario.
  </p>

  <h1>
    11. Contacto
  </h1>

  <p>
    Si tienes preguntas sobre estos Términos, puedes escribirnos a:
    <br>Email: damraulmu99@gmail.com
    <br>Responsable: MK13 ( Raúl Muñoz González )
    <br>Dirección: Yecla, Murcia 30510 España
  </p>

</ion-content>