<ion-content [fullscreen]="true" class="ion-padding">
 
  <ion-header class="ion-no-border">
    <ion-toolbar style="--background: transparent;">
      <ion-title color="light" style="font-size: 24px;">
        HISTORIAL
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="bCargando" style="text-align: center;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list style="--background: transparent; background: transparent; margin-top: 16px;" lines="none" *ngIf="!bCargando">

    <ion-item *ngFor="let hist of Historial" style="--background: #2e2e3f; margin-bottom: 8px; border-radius: 12px;" button (click)="IrAlCaso( hist.id )" [detail]="false">
      <ion-label color="light">
        <h1>
          <b>{{ hist.titulo }}</b>
        </h1>
        <p>
          <ion-text color="light">Dificultad: </ion-text><ion-icon *ngFor="let star of [].constructor( hist.dificultad )" name="star" color="warning"></ion-icon>
        </p>
        <p style="margin-top: 6px;">
          <ion-text color="light">Puntos: </ion-text> {{ hist.puntuacion }}
        </p>
        <p style="margin-top: 6px;">
          <ion-text color="light">Fecha: </ion-text>{{ hist.fechadisponible | date : 'dd/MM/yyyy' }}
        </p>
        <p style="margin-top: 6px;">
          {{ hist.resumen }}
        </p>   
      </ion-label>      
  
    </ion-item>

  </ion-list>

</ion-content>
