<ion-content [fullscreen]="true">
 
  <ion-header class="ion-no-border" style="padding-top: 16px;">
    <h1 style="text-align: center; color: white;">
      HISTORIAL
    </h1>
  </ion-header>

  <div *ngIf="bCargando" style="text-align: center;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list style="padding: 16px; --background: transparent; background: transparent;" lines="none" *ngIf="!bCargando">

    <ion-item *ngFor="let hist of Historial" style="--background: #2e2e3f; margin-bottom: 8px; border-radius: 12px;" button (click)="IrAlCaso( hist.id )">
      <ion-label color="light">
        <h2>
          {{ hist.titulo }}
        </h2>
        <p>
          Dificultad: <ion-icon *ngFor="let star of [].constructor( hist.dificultad )" name="star" color="warning"></ion-icon>
        </p>
        <p>
          Puntos: {{ hist.puntuacion }}
        </p>
        <p>
          {{ hist.resumen }}
        </p>
        <p>
          {{ hist.fechadisponible | date : 'dd/MM/yyyy' }}
        </p>
      </ion-label>      
  
    </ion-item>

  </ion-list>

</ion-content>
